<!DOCTYPE html>
<html>
    
    <head> 
    
        <link rel="stylesheet" href= {{ url_for('static',filename='style.css') }} />
        
        <title> <h1> Milestone Uno </h1></title>
    
    </head>
    
    <body>
        
        <h6>Food: {{ chosenOne }}</h6>s
        <h6>Tweet: {{ text }}</h6>
        <h6>Date: {{ date }}</h6>
        <h6>Link: {{ url }}</h6>
        <h6>Name: {{ name }}</h6>
        <h6>Screen Name: {{ screenName }}</h6>
        
        
    </body>
    
    
    
    
    
    
    
    
    
</html>